<div class='card hover'>
    <div class='container'>
        <div class='row'>
            <div class="input-field col s12">
                <input id="enteredNumber" type="text" class="validate">
                <label for="enteredNumber">Enter Your User Number!</label>
            </div>
        </div>
    </div>
</div>