<div class='container'>
    <div class='card hover'>
        <a href='/form/enternumber'>enter user number</ahref>
    </div>
</div>

<div class='container'>
    <div class='card hover'>
        <a href='/form/new'>input user preferences</a>
    </div>
</div>