body{
    font-family: 'Abel', sans-serif;
}

h1{
    font-family: 'Staatliches', cursive;
    color:white;
}

/* a{
    width:100%;
} */

.whiteText{
    color:white;
}

nav{
    /* background-color:#c090d0; */
    background-color:white;
    /* background-image:url(./assets/images/quoteBack2.jpg); */
}

nav ul a{
    color:#308DDA;
}

nav .brand-logo{
    color:#3E2641;
}

li.collection-item{
    text-decoration: line-through;
}

#toothTimerButton{
    height:50%;
    padding:10%;
    line-height:1; 
    font-size:150%;
    width:70%;
    background-color:rgb(196, 112, 207);
    color:black;
}

#addTask,#clearTasks{
    width:100%;
}

.strikethrough{
    text-decoration: line-through;
}
#demo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
}
.submit{
    width: 8%;
    height: 8%;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: antiquewhite;
}
#news{
    font-size: 20px !important;
}