body{
    font-family: 'Abel', sans-serif;
}

h1{
    font-family: 'Staatliches', cursive;
    color:white;
}

.whiteText{
    color:white;
}

#latitudeInner,#longitudeInner,#cityInner,#nameInner{
    display:none;
}

nav{
    /* background-color:#c090d0; */
    background-color:white;
    /* background-image:url(./assets/images/quoteBack2.jpg); */
}

nav ul a{
    color:#308DDA;
}
nav .brand-logo{
    color:#308DDA;
}

li.collection-item{
    text-decoration: line-through;
}

#toothTimerButton{
    height:50%;
    line-height:1; 
    font-size:50px;
    width:70%;
    background-color:rgb(196, 112, 207);
    color:black;
    size: 50px;
    text-align: center;
    padding-top: 7%;
}


#addTask,#clearTasks{
    margin-top:2%;
    width:100%;
}

.close-modal .btn, .btn-large{
    margin-top:2%;
    width:80%;
    background-color:#3D98DE;
}

.strikethrough{
    text-decoration: line-through;
}
#demo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
}
.submit{
    width: 8%;
    height: 8%;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: antiquewhite;
}
#news{
    font-size: 20px !important;
}

#motivation{
    margin-top:10%;
}
#newsNew{
    list-style-type: none;
    padding: 10px;
    
}
.blink_me{
    background-color: #a3498c;
}
#newsNew li{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;
}
#news{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    height: 200px;
    overflow: hidden;
    background-image: url(./assets/images/weatherBack2.jpg);
}

